@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_LayoutInverse.cshtml";
}

<script src="~/Scripts/echarts-plain.js"></script>
<div class="main-container">
    <div id="notifications" class="posts-notification">
        @*<div class="alert alert-dismissable alert-warning">
                <button class="close" type="button" data-dismiss="alert">×</button>
                <p><a class="alert-link" href="#">You have new messages.</a></p>
            </div>*@
    </div>

    <div>
        <div class="col-lg-4">
            <div class="title-container">
                <h4>Hottest topics</h4>
            </div>
            <ul id="welcome_hosttest_topics_list" class='list-group'>
                <li class="list-group-item txtaln-c"><span class="spinner-loading"></span> Loading...</li>
                @*autofill by js*@
            </ul>
        </div>

        <div class="col-lg-4">
            <div class="title-container">
                <h4>Active users</h4>
            </div>
            <ul id="welcome_active_users_list" class='list-group'>
                <li class="list-group-item txtaln-c"><span class="spinner-loading"></span> Loading...</li>
                @*autofill by js*@
            </ul>
        </div>

        <div class="col-lg-4">
            <div class="title-container">
                <h4>Latest posts</h4>
            </div>
            <ul id="welcome_latest_posts_list" class='list-group'>
                <li class="list-group-item txtaln-c"><span class="spinner-loading"></span> Loading...</li>
                @*autofill by js*@
            </ul>
        </div>

        <div class="clearfix"></div>
    </div>

    <script>
        $(RefreshWelcomePage());
    </script>
</div>
