@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_LayoutInverse.cshtml";
}

<script src="~/Scripts/echarts-plain.js"></script>
<div class="main-container">
    @Html.Partial("_AlertBoxPartial")

    <div>
        <div class="col-lg-4">
            <div>
                <div class="title-container">
                    <h4>
                        Welcome, @ViewBag.Me.DisplayName
                    </h4>
                </div>
                <ul id="welcome_new_list" class='list-group'>
                    @*autofill by js*@
                </ul>
            </div>

            <div>
                <div class="title-container">
                    <h4>Hot topics</h4>
                </div>
                <ul id="welcome_hot_topics_list" class='list-group'>
                    @*autofill by js*@
                </ul>
            </div>

            <div>
                <div class="title-container">
                    <h4>Active users</h4>
                </div>
                <ul id="welcome_active_users_list" class='list-group'>
                    @*autofill by js*@
                </ul>
            </div>

        </div>

        <div class="col-lg-8">
            <div>
                <div class="title-container">
                    <h4>
                        Mentions <a class="btn btn-link btn-xs fr" href="/Notification/index?category=atline">More <span class="caret"></span></a>
                    </h4>
                </div>
                <ul id="welcome_mentions_feeds_list" class='list-group'>
                    @*autofill by js*@
                </ul>
            </div>

            <div>
                <div class="title-container">
                    <h4>
                        My Owns <a class="btn btn-link btn-xs fr" href="/Notification/index?category=ownerline">More <span class="caret"></span></a>
                    </h4>
                </div>
                <ul id="welcome_myowns_feeds_list" class='list-group'>
                    @*autofill by js*@
                </ul>
            </div>

            <div>
                <div class="title-container">
                    <h4>
                        Replies <a class="btn btn-link btn-xs fr" href="/Notification/index?category=replyline">More <span class="caret"></span></a>
                    </h4>
                </div>
                <ul id="welcome_replies_feeds_list" class='list-group'>
                    @*autofill by js*@
                </ul>
            </div>

            <div>
                <div class="title-container">
                    <h4>
                        Latest feeds <a class="btn btn-link btn-xs fr" href="/Square">More <span class="caret"></span></a>
                    </h4>
                </div>
                <ul id="welcome_latest_feeds_list" class='list-group'>
                    @*autofill by js*@
                </ul>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>

    <script>
        $(RefreshWelcomePage());
    </script>
</div>
