@{
    if(ViewBag.IsMe)
    {
        ViewBag.Title = "Me";
    }
    else 
    {
        ViewBag.Title = "Profile";
    }
}

<script src="~/Scripts/common.js"></script>
<script>
    $(LoadUserInfo('@ViewBag.UserId'));
    $(LoadFeeds('@ViewBag.UserId'));
</script>

<div class="main-container">
    <div class="contents-container">
        <div class="user-container ">
            <div class="user-info ">
                <div class="ma-btm-10">
                    <img class="img-rounded" id="user_pic" src="/Content/Images/default_avatar.jpg" width="200" height="200" />
                </div>
                <div>
                    <a class="lead" id="user_name">&nbsp;</a>
                </div>
                <div>
                    <span id="user_id">&nbsp;</span>
                </div>
                <div class="userdesp-input">
                    <span id="user_desp">&nbsp;</span>
                </div>
            </div>
            <div class="user-postinfo">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default">POSTS &nbsp;<span id="user_posts" class="badge">0</span></a>
                    <a class="btn btn-default">FOLLOWING &nbsp;<span id="user_following" class="badge">0</span></a>
                    <a class="btn btn-default">FOLLOWERS &nbsp;<span id="user_followers" class="badge">0</span></a>
                    @if (!ViewBag.IsMe)
                    {
                        <a class='btn btn-primary' id='btn_user_follow_@ViewBag.UserId'>Follow</a>
                    }
                    else{
                        <a class='btn btn-primary' id='btn_user_follow_@ViewBag.Me.Userid'>Follow</a>
                    }
                </div>
            </div>
        </div>

        <div id="notifications" class="posts-notification">
            @*<div class="alert alert-dismissable alert-warning">
                    <button class="close" type="button" data-dismiss="alert">×</button>
                    <p><a class="alert-link" href="#">You have new messages.</a></p>
                </div>*@
        </div>

        <div id="feedlist" class="posts-feeds">
            @*autofill by js*@
        </div>

    </div>

    <div class="tools-container">
    @if (!ViewBag.IsMe)
    {
        @Html.Partial("_MePartial")
    }
    </div>

</div>