<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IReviewService" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"/>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://codeflow/Services/ReviewService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReviewService"
                contract="CodeFlowService.IReviewService" name="WSHttpBinding_IReviewService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <appSettings>

    <!--List of CodeFlow projects to be monitored.
        Multiple projects can be monitored.
        Always use "short names" of projects and keep a comma separated list as shown below.
        Try not use this, since code flow service doesn't work well when query by project name
        -->
    <add key="ProjectsToMonitor" value="WOSSCRSH,WOSSTest"/>

    <!--List of User group to be monitored.
        Multiple group can be monitored.
        Always use "short names" of group and keep a comma separated list as shown below.-->
    <add key="UserGroupsToMonitor" value="stbcwossa"/>
    
  </appSettings>
</configuration>