@{
    ViewBag.Title = "Home";
}

<script src="~/Scripts/common.js"></script>
<script>
    $(LoadFeeds("homeline"));
</script>

<div class="main-container">
    <div class="posts-container">
        <div class="posts-newpost">
            <div class="well">
                <div class="newpost-header">
                    <span class="help-block">What's on your mind?</span>
                </div>
                <div class="newpost-input">
                    <textarea class="form-control" id="postmessage" rows="3"></textarea>
                </div>
                <div class="newpost-footer">
                    <button id="btn_post" onclick="PostMessage(1, 'schema1');" class="btn btn-primary" type="button" data-original-title="Post" data-toggle="tooltip" data-placement="top">Post</button>
                </div>
            </div>
        </div>

        <div id="notifications" class="posts-notification">
            @*<div class="alert alert-dismissable alert-warning">
                    <button class="close" type="button" data-dismiss="alert">×</button>
                    <p><a class="alert-link" href="#">You have new messages.</a></p>
                </div>*@
        </div>

        <div class="posts-feeds">
            <ul id="feedlist" class="list-group"></ul>
        </div>

    </div>

    <div class="tools-container">
        @Html.Partial("_MePartial")
    </div>

</div>