@{
    ViewBag.Title = "Groups";
}

<div class="main-container">

    <div class="contents-container">
        @Html.Partial("_AlertBoxPartial")

        <div class="block-container">
            <div>
                <span class="help-block">Groups</span>
            </div>

            @Html.Partial("_LoadGroupCardListPartial")

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="tools-container">
        @Html.Partial("_MePartial")
        @Html.Partial("_ShortcutPartial")
    </div>

</div>
