<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ApiEndPointUri" value="[endpoint]"/>
    <add key="PostGroupId" value="[groupid]"/>
    <add key="IntervalSec" value="1800"/>
    <add key="MessageFormatString" value="The #time now# is {0}."/>
    <add key="User" value="[userid]"/>
    <add key="Password" value="[password]"/>
  </appSettings>
</configuration>