body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eeeeee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 10px;
    padding-bottom: 10px;
    display:block;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 500px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* added */
.main-container {
    content:normal;
    display:block;
    min-height:1000px;
}

.posts-container {
    float:left;
    min-height:800px;
    overflow:hidden;
    padding-bottom:30px;
    padding-top:20px;
    padding-left:0px;
    padding-right:0px;
    width: 620px;
    position:relative;
}

.tools-container {
    float:right;
    overflow:hidden;
    padding-bottom:0px;
    padding-top:20px;
    padding-left:0px;
    padding-right:0px;
    width: 300px;
    position:relative;
    margin-left:20px;
}

.posts-newpost {
    display:block;
}

.newpost-header {
    margin-bottom:10px;
}

.newpost-input {
    margin-bottom:10px;
    text-wrap:normal;
    white-space:normal;
    word-wrap:break-word;
}
.newpost-footer {
    text-align:right;
}

.posts-notification {
    display: block;
}

.posts-feeds {
    display: block;
}

.replies-container {
    display:block;

}

.replies-feeds {
    display: block;
}

.reply-input {
    margin-bottom:10px;
    text-wrap:normal;
    white-space:normal;
    word-wrap:break-word;
}

.user-container {
    background-color:#333333;
}

.user-info {
    padding:15px;
    text-align :center;
    color:white;

}
    .user-info a {
        color:white;
        font-weight:bolder;
    }

.user-postinfo {
}

.feed-pic {
    float:left;
    padding:10px;
}

.feed-content {
    margin-left:120px;
    padding:10px;
    min-height:150px;
}

.reply-pic {
    float:left;
    padding:5px;
}

.reply-content {
    margin-left:70px;
    padding:5px;
    min-height:60px;
}

.userdesp-input {
    margin-bottom:10px;
    text-wrap:normal;
    white-space:normal;
    word-wrap:break-word;
    padding-left:30px;
    padding-right:30px;
}
