body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: aliceblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

/* Set width on the form input elements since they're 100% wide by default */
input text,
select,
textarea {
    min-width: 300px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* added */
.main-container {
    content: normal;
    display: block;
}

.contents-container {
    float: left;
    overflow: hidden;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    width: 420px;
}

@media (min-width: 768px) {
    .contents-container {
        width: 420px;
    }
}

@media (min-width: 992px) {
    .contents-container {
        width: 620px;
    }
}

@media (min-width: 1200px) {
    .contents-container {
        width: 820px;
    }
}

.tools-container {
    float: right;
    overflow: hidden;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    width: 300px;
    position: relative;
    margin-left: 20px;
}

.posts-newpost {
    display: block;
}

.newpost-header {
    margin-bottom: 10px;
}

.newpost-input {
    margin-bottom: 10px;
    text-wrap: normal;
    white-space: normal;
    word-wrap: break-word;
}

.newpost-footer {
    text-align: right;
}

.posts-notification {
    display: block;
}

.posts-feeds {
    display: block;
    min-height: 1000px;
}

.replies-container {
    display: block;
}

.replies-feeds {
    margin-top: 10px;
    display: block;
}

.reply-input {
    margin-bottom: 10px;
    text-wrap: normal;
    white-space: normal;
    word-wrap: break-word;
}

.user-container {
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #333333;
}

.user-info {
    padding: 15px;
    text-align: center;
    color: white;
}

    .user-info a {
        color: white;
        font-weight: bold;
    }

.user-postinfo {
}

.feed-pic {
    float: left;
    padding: 10px;
}

.feed-content {
    margin-left: 120px;
    padding: 10px;
    min-height: 150px;
}

.reply-pic {
    float: left;
    padding: 5px;
}

.reply-content {
    margin-left: 70px;
    padding: 5px;
    min-height: 60px;
}

.userdesp-input {
    margin-bottom: 10px;
    text-wrap: normal;
    white-space: normal;
    word-wrap: break-word;
    padding-left: 30px;
    padding-right: 30px;
}

.ma-5 {
    margin: 5px;
}

.ma-10 {
    margin: 10px;
}

.ma-btm-10 {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.quote {
    background-color: lightgray;
}

.txtaln-l {
    text-align: left;
}

.txtaln-c {
    text-align: center;
}

.txtaln-r {
    text-align: right;
}

.users-cards {
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid lightgray;
}

.user-card {
    float: left;
    width: 178px;
    margin: 10px 10px 20px 10px;
    padding: 0px 0px 20px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #f4f8f9;
    border: 1px solid lightgray;
}

.user-card-info {
    padding: 15px;
    color: darkgray;
}

    .user-card-info a {
        color: #292f33;
        font-weight: bold;
    }

.user-card-postinfo {
}
