@{
    ViewBag.Title = "Search";
}

<script src="~/Scripts/common.js"></script>
<div class="main-container">
    <div class="contents-container">
        <div class="title-container">
            <div>
                <h4>Results for <span class="bold">@ViewBag.SearchKeyword</span></h4>
            </div>
        </div>

        <div id="notifications" class="posts-notification">
            @*<div class="alert alert-dismissable alert-warning">
                    <button class="close" type="button" data-dismiss="alert">×</button>
                    <p><a class="alert-link" href="#">You have new messages.</a></p>
                </div>*@
        </div>

        <div class="block-container">
            <div>
                <span class="help-block">People</span>
            </div>
            <ul id="userlist" class="userlist-group">
                @*autofill by js*@
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="tools-container">
        @Html.Partial("_MePartial")
        @Html.Partial("_ShortcutPartial")
    </div>

</div>

<script>
    $(SearchUser('@ViewBag.SearchKeyword'));
</script>


