@{
    ViewBag.Title = "Message";
}

<script src="~/Scripts/echarts-plain.js"></script>
<div class="main-container">
    @Html.Partial("_AlertBoxPartial")

    <div class="title-container">
        <h4>
            @ViewBag.Title
        </h4>
    </div>

    <div class="posts-feeds">
        <ul id="feedlist" class='list-group'>
            <li id="loading_message" class="list-group-item txtaln-c"><span class="spinner-loading"></span> Loading...</li>
            @*autofill by js*@
        </ul>
    </div>

    <script>
        $(LoadMessage('@ViewBag.UserId', '@ViewBag.FeedId'));
    </script>

</div>
