@{
    ViewBag.Title = "Error";
}

<div class="main-container">
    <div class="block-container">
        <h4>@ViewBag.Title</h4>
        <span class="help-block">An error occurred while processing your request.</span>
        <br />
        <h4 class=" text-danger">
            @ViewBag.ErrorMessage
        </h4>
        <br />
        <a class="btn btn-primary post-btn" href="@ViewBag.returnUrl">OK</a>
        <div class="clearfix ma-btm-20"></div>
    </div>

</div>
