<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="/Content/Images/slide-01.png" alt="ECharts" />
            @*<div class="container">
                <div class="carousel-caption" style="bottom:0;left:25%">
                    <p style="text-align:left;">
                        <a class="btn btn-warning" href="#" role="button">See »</a>
                    </p>
                </div>
            </div>*@
        </div>
        <div class="item">
            <img src="/Content/Images/slide-02.png" alt="ECharts" />
        </div>
        <div class="item">
            <img src="/Content/Images/slide-03.png" alt="ECharts" />
        </div>
        <div class="item">
            <img src="/Content/Images/slide-04.png" alt="ECharts" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
