<div class="btn-group">
    <button class="btn btn-link btn-sm dropdown-toggle" type="button" data-toggle="dropdown"><span id="feedfilter_title">All feeds</span>&nbsp;<span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li>
            <a href="#" onclick="FilterFeeds('all');">All feeds</a>
        </li>
        <li>
            <a href="#" onclick="FilterFeeds('latest24hours');">Latest 24 hours</a>
        </li>
        <li>
            <a href="#" onclick="FilterFeeds('latest3days');">Latest 3 days</a>
        </li>
        <li>
            <a href="#" onclick="FilterFeeds('latest7days');">Latest 7 days</a>
        </li>
        <li>
            <a href="#" onclick="FilterFeeds('latest1month');">Latest 1 month</a>
        </li>
    </ul>
</div>

