<div class="nav-container">
    <a class='btn btn-info btn-sm group-btn' id='btn_groups' href="/Group">Groups</a>
    <button class='btn btn-link btn-sm group-btn' id='btn_set_default_group' style="display:none" onclick="SetDefaultGroup();">Set as default</button>
    <ul id="group_navabar" class="nav nav-pills"></ul>
    <input id="hd_default_group" type="hidden" value="" />
</div>



