<div class="posts-feeds">
    <ul id="feedlist" class='list-group'>
        <li id="loading_message" class="list-group-item txtaln-c"><span class="spinner-loading"></span> Loading...</li>
        @*autofill by js*@
    </ul>
</div>

@Html.Partial("_LoadMorePartial")

<script>
    $(LoadFeeds("@ViewBag.FeedCategory", "@ViewBag.FeedId"));
</script>

