<div>
    <ul id="userlist" class="userlist-group">
        <li id="loading_message_groupmembers" class="center-block txtaln-c"><span class="spinner-loading"></span> Loading...</li>
        @*autofill by js*@
    </ul>
</div>

<script>
        $(LoadGroupMembers('@ViewBag.FeedCategory', '@ViewBag.FeedId'));
</script>

