@if (!string.IsNullOrEmpty(ViewBag.PerfChartName))
{
    <div id="perf_chart_div" class="block-container perf-chart" style="display:none;">
    </div>

    <script>
        $(LoadPerfChart('@ViewBag.PerfChartName', 'perf_chart_div'));
        //$(addfakedata());
    </script>
}
