<div class="title-container">
    <span class="help-block">Posts for "<span class="bold">@ViewBag.SearchKeyword</span>" <span id="searchpost_message"></span></span>
</div>

<div class="posts-feeds">
    <ul id="feedlist" class='list-group'>
        <li id="loading_message_searchpost" class="list-group-item txtaln-c"><span class="spinner-loading"></span> Loading...</li>
        @*autofill by js*@
    </ul>
    <input id="hd_result_id" type="hidden" value="" />
    <input id="hd_token" type="hidden" value="" />
    <input id="hd_filter" type="hidden" value="all" />
    <input id="hd_current_group" type="hidden" value="@ViewBag.Group" />
</div>

<div class="txtaln-c">
    <span id="lbl_seemore" class="help-block">Loading more...</span>

    <script type="text/javascript">
        $(window).scroll(function () {
            var documentTop = $(document).scrollTop();
            var windowHeight = $(window).height();
            var documentHeight = $(document).height();
            if (documentTop >= (documentHeight - windowHeight)) {
                LoadSearchMessageResults(false);
            }
        })
    </script>
</div>

<script>
    $(SearchMessage('@ViewBag.SearchKeyword'));
</script>
