<div class="shortcut-container ">
    <ul class="list-group" id="shortcut_accordion">
        <li class="list-group-item top-radius-10">
            <span id="shortcut_homeline_count" class="badge">0</span>
            <a href="/Home">Home</a>
        </li>
        <li class="list-group-item">
            <span id="shortcut_notification_count" class="badge">0</span>
            <a data-toggle="collapse" data-parent="#shortcut_accordion" href="#notification_collapse">Notifications <span class="caret"></span></a>
            <ul id="notification_collapse" class="panel-collapse collapse out sub-list-group">
                <li class="sub-list-group-item">
                    <span id="shortcut_atline_count" class="badge">0</span>
                    <a href="/Notification/index?category=atline">Mentions</a>
                </li>
                <li class="sub-list-group-item">
                    <span id="shortcut_ownerline_count" class="badge">0</span>
                    <a href="/Notification/index?category=ownerline">My owns</a>
                </li>
                <li class="sub-list-group-item">
                    <span id="shortcut_reply_count" class="badge">0</span>
                    <a href="/Notification/index?category=replyline">Replies</a>
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            <span id="shortcut_category_count" class="badge"></span>
            <a data-toggle="collapse" data-parent="#shortcut_accordion" href="#category_collapse">Categories <span class="caret"></span></a>
            <ul id="category_collapse" class="panel-collapse collapse out sub-list-group"></ul>
        </li>
        <li class="list-group-item">
            <a data-toggle="collapse" data-parent="#shortcut_accordion" href="#favorite_collapse">Favorites <span class="caret"></span></a>
            <ul id="favorite_collapse" class="panel-collapse collapse out sub-list-group"></ul>
        </li>
        <li class="list-group-item">
            <a href="/Square">Square</a>
        </li>
        <li class="list-group-item">
            <a data-toggle="collapse" data-parent="#shortcut_accordion" href="#topic_collapse">Trends <span class="caret"></span></a>
            <ul id="topic_collapse" class="panel-collapse collapse out sub-list-group"></ul>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function () {
        $(UpdateNotificationCountTimer());
        $(LoadMyCategories());
        $(LoadMyFavoriteTopics());
        $(LoadHotTopics());
    });
</script>
